<ion-header>
  <ion-navbar>
    <ion-title>Parameters</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h3>Choose a theme</h3>

  <button ng-click="changeColor('primary')" ion-button round color="primary">Primary</button>

  <button ng-click="changeColor('secondary')" ion-button round color="secondary">Secondary</button>

  <button ng-click="changeColor('danger')" ion-button round color="danger">Danger</button>

  <button ng-click="changeColor('light')" ion-button round color="light">Light</button>

  <button ng-click="changeColor('dark')" ion-button round color="dark">Dark</button>


</ion-content>
